@font-face {
  font-family: 'Photoshoot';
  font-display: swap;
  src: url('../../fonts/Photoshoot-regular.woff2') format('woff2'),
    url('../../fonts/Photoshoot-regular.woff') format('woff'),
    url('../../fonts/Photoshoot-regular.ttf') format('truetype'),
    url('../../fonts/Photoshoot-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
