@import '../../app/styles/extends.scss';
@import '../../app/styles/mixins.scss';

.services {
  @extend %container;

  &__title {
    @extend %h1-primary;
    font-weight: 500;
    margin-bottom: 60px;

    @include md {
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 16px;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr;
    gap: 25px;

    @include lg {
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr 0.2fr;
      gap: 5px;
    }

    & > div {
      border-radius: var(--radius-40);

      @include lg {
        border-radius: var(--radius-30);
      }

      @include md {
        border-radius: var(--radius-20);
      }
    }
  }

  &__img {
    position: relative;
    filter: grayscale(100%);
    color: var(--color-gray-100);

    transition: filter var(--transition-duration);

    @include lg {
      filter: grayscale(0);
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  &__buttons {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    right: 2.5%;

    @include lg {
      left: 2.5%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %main-text;
    font-weight: 500;

    background-color: var(--color-additional-beige);
    padding: 10%;

    h3 {
      @extend %secondary-text;
      font-weight: 600;
      color: var(--color-gray-40);
      margin-bottom: 30px;
    }
  }

  &__firstBlock {
    background: url('../../../public/images/homepage/services-1.jpg') no-repeat
      center / cover;
    grid-area: 1 / 1 / 2 / 5;

    @include lg {
      grid-area: 1 / 1 / 2 / 3;
    }
    @include md {
      grid-area: 1 / 1 / 2 / 2;
    }

    &_description {
      grid-area: 2 / 1 / 3 / 5;

      @include lg {
        grid-area: 2 / 1 / 3 / 3;
      }
      @include md {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }

  &__imgBlock {
    background: url('../../../public/images/homepage/services-2.jpg') no-repeat
      center / cover;
    grid-area: 1 / 5 / 3 / 11;

    height: 524px;

    @include lg {
      grid-area: 1 / 3 / 3 / 5;
      height: 100%;
    }
    @include md {
      grid-area: 2 / 1 / 3 / 3;
    }
  }

  &__lastBlock {
    background: url('../../../public/images/homepage/services-3.jpg') no-repeat
      center / cover;
    grid-area: 2 / 11 / 5 / 13;
    height: 100%;

    @include lg {
      grid-area: 2 / 5 / 4 / 7;
    }
    @include md {
      grid-area: 3 / 2 / 5 / 3;
    }

    &_description {
      grid-area: 1 / 11 / 2 / 13;
      justify-content: center;

      @include lg {
        grid-area: 1 / 5 / 2 / 7;
      }
      @include md {
        grid-area: 3 / 1 / 4 / 2;
        height: 70%;
      }
    }
  }
}
