@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';

.breedsList {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  overflow-y: auto;

  border-radius: var(--radius-30);
  background-color: var(--color-gray-100);

  &Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;

    &__text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &Name {
        margin-right: 30px;
      }

      &Price {
        font-weight: 500;
      }
    }

    &__additional {
      max-width: 90%;
      @extend %small-text;
    }

    &__decor {
      height: 1px;
      width: 100%;
      background-color: var(--color-gray-50);
      margin: 10px 0
    }
  }
}