@import '../../app/styles/mixins.scss';

.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 5%;
  z-index: 100;

  box-shadow: 0px 0px 7px var(--color-gray-10);

  @include lg {
    right: 3%;
  }

  @include sm {
    right: 5%;
  }
}
