@import '../../../app/styles/mixins.scss';

.ProfileIcon {
  position: relative;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-gray-20);

  @include md {
    width: 40px;
    height: 40px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-100);

    * {
      stroke: white;
    }
  }

  &__Selected {
    background-color: var(--color-gray-20);
    * {
      stroke: white;
    }
  }
}
