@import '../../app/styles/mixins.scss';
@import '../../app/styles/extends.scss';

.productSlider {
  overflow: hidden;
  padding: 0 20px 70px;
  margin-bottom: 273px;

  @include lg {
    margin-bottom: 180px;
  }

  @include sm {
    margin-bottom: 120px;
  }

  &__title {
    @extend %container;

    display: flex;
    align-items: center;
    font-weight: 500;
    @extend %h1-primary;

    margin-bottom: 45px;

    @include lg {
      font-size: 1.25rem;
      line-height: 1.2;
      margin-bottom: 30px;
    }

    @include sm {
      font-size: 1.1rem;
      line-height: 1.5;
    }
  }

  &__image {
    @include lg {
      width: 16%;
      height: 16%;
    }

    @include sm {
      width: 22%;
      height: 22%;
    }
  }

  &__slider {
    div > div:first-child {
      margin: auto;
    }
  }

  &__cardToShop {
    display: flex !important;
    flex-direction: column;
    gap: 30px;

    padding: 30px;
    width: 245px !important;
    height: 385px;

    color: var(--color-gray-100);
    background-color: var(--color-additional-green);
    border-radius: var(--radius-30);

    @include lg {
      height: 450px;
    }
    @include sm {
      padding: 15px;
      height: 370px;
      width: 180px !important;
      gap: 10px;
    }

    &_title {
      @extend %secondary-text;
      font-weight: 600;
    }
    &_description {
      flex-grow: 1;

      @extend %main-text;
      font-weight: 500;

      @include sm {
        font-size: 0.8rem;
        line-height: 1.2;
      }
    }

    &_button {
      background: rgb(255, 255, 255, 0.2);
    }
  }
}

.arrow {
  position: absolute;
  z-index: 5;
  top: 45%;
  right: 0;

  background-color: var(--color-secondary-green);

  &__prev {
    right: auto;
    left: 0;
  }
}

.indicators {
  height: 1px;
  width: 1px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: var(--color-gray-50);

  cursor: initial;
}

.active {
  background-color: var(--color-gray-30);
}
