@import "../../../app/styles/extends.scss";

.uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--color-gray-50);
  height: 200px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--color-gray-100);
  transition: all var(--transition-duration);

  &__dragging {
    transition: all var(--transition-duration);
    border-color: var(--color-system-info);
  }

  &__icon {
    margin-bottom: 15px;
  }

  &__previewText {
    text-align: center;
    @extend %secondary-text;
    font-weight: 500;
    color: var(--color-gray-40);
  }

  &__error {
    @extend %small-text;
    color: var(--color-system-error);
    margin-left: 15px;
  }
}
