@import '../../app/styles/mixins.scss';

.arrow {
  padding: 30px;

  background: url('../../../public/images/icons/arrow_white.svg') no-repeat
      center,
    var(--color-gray-10);
  border-radius: 50%;

  transition: background, var(--transition-duration);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-20);
      background: url('../../../public/images/icons/arrow_white.svg') no-repeat
          center,
        var(--color-gray-10);
    }
  }

  &:active {
    background-color: var(--color-gray-10);
  }

  &__disabled {
    background-color: var(--color-gray-40) !important;
  }

  @include sm {
    padding: 22.5px;
    background: url('../../../public/images/icons/arrowMobile_white.svg')
        no-repeat center,
      var(--color-gray-10);
  }

  &__white {
    background: url('../../../public/images/icons/arrow_black.svg') no-repeat
        center,
      var(--color-gray-100);

    @include lg {
      padding: 22.5px;
      background: url('../../../public/images/icons/arrowMobile_black.svg')
          no-repeat center,
        var(--color-gray-100);
    }

    &:active {
      background-color: var(--color-gray-100);
    }
  }
}

.down {
  transform: rotate(180deg);
}
.right {
  transform: rotate(90deg);
}
.left {
  transform: rotate(270deg);
}
