@import '../../app/styles/mixins.scss';

.btns {
  display: flex;

  @include md {
    flex-direction: column;
    gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 3% 5.6%;
    border: 1px solid var(--color-gray-10);
    border-radius: var(--radius-100);

    cursor: pointer;
    transition: background-color, border-color, var(--transition-duration);

    * {
      transition: stroke, fill, var(--transition-duration);
    }

    &Disabled {
      z-index: 1;
      background-color: var(--color-gray-40) !important;
      border-color: var(--color-gray-40) !important;
    }

    @include lg {
      padding: 2.5% 2.6%;
    }

    &Second {
      margin-left: -3.5%;
      @include md {
        margin: 0;
      }
    }

    &:first-child:hover {
      z-index: 1;
      background-color: var(--color-secondary-yellow);
      border-color: var(--color-secondary-yellow);
    }
    &:last-child:hover {
      z-index: 1;
      color: var(--color-gray-100);
      background-color: var(--color-secondary-green);
      border-color: var(--color-secondary-green);
    }

    &:first-child:active {
      background-color: var(--color-primary-40);
      border-color: var(--color-primary-40);
    }
    &:last-child:active {
      background-color: var(--color-additional-green);
      border-color: var(--color-additional-green);
    }
  }
}
