@import '../../app/styles/extends.scss';
@import '../../app/styles/mixins.scss';

.ourLocation {
  @extend %container;

  display: flex;
  justify-content: space-between;
  gap: 15px;

  @include lg {
    gap: 10px;
  }

  @include md {
    flex-direction: column;
  }

  &__info {
    flex: 1 1 40%;

    @include lg {
      flex-basis: 50%;
    }
  }

  &__text {
    background: var(--color-additional-beige);
    border-radius: var(--radius-30);
    padding: 6.5%;
    margin-bottom: 15px;

    @include lg {
      margin-bottom: 10px;
    }

    @include md {
      margin-bottom: 0;
    }

    &Btns {
      margin-top: 30px;
      display: none;

      @include md {
        display: flex;
        gap: 5px;
      }
    }
  }

  &__subtitle {
    @extend %secondary-text;
    font-weight: 600;
    color: var(--color-gray-40);
    margin-bottom: 40px;

    @include md {
      font-size: 0.75rem;
      line-height: 1.5;
      margin-bottom: 30px;
    }
  }

  &__title {
    @extend %h1-primary;
    font-weight: 500;
    margin-bottom: 15px;

    @include lg {
      font-size: 1.25rem;
      line-height: 1.2;
    }

    @include md {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__description {
    @extend %main-text;

    @include md {
      font-size: 0.875rem;
      line-height: 1.2;
    }
  }

  &__btns {
    background: url('../../../public/images/homepage/contacts-bg.jpg') no-repeat
      center / cover;
    height: 314px;
    border-radius: var(--radius-30);

    @include md {
      display: none;
    }

    &Block {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      padding: 5%;

      color: var(--color-gray-100);
      @extend %secondary-text;

      @include md {
        font-size: 0.75rem;
        line-height: 1.5;
      }

      a {
        border-color: var(--color-gray-100);

        &:hover {
          color: var(--color-gray-10);
        }

        @include lg {
          padding: 3.5% 2.6%;
        }
      }
    }
  }

  &__map {
    flex: 1 1 60%;
    border-radius: var(--radius-30);

    @include lg {
      flex-basis: 50%;
    }

    @include md {
      flex-basis: auto;
      height: 394px;
    }
  }
}
