@import '../../app/styles/mixins.scss';
@import '../../app/styles/extends.scss';

.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 15px;
  border-radius: var(--radius-30);
  width: min-content;
  height: 400px;

  @include lg {
    height: 450px;
  }
  @include sm {
    height: 370px;
    border-radius: var(--radius-20);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: 111.3%;
    opacity: 0;

    background-color: var(--color-gray-80);
    border-radius: var(--radius-30);
    box-shadow: 2px 3px 25px 0px rgba(0, 0, 0, 0.2);

    transition: opacity var(--transition-duration);
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }

      .productCard__image {
        img {
          scale: 1.14;
        }
      }

      .productCard__cart {
        opacity: 1;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
  }

  &__image {
    align-self: center;
    margin-bottom: 15px;

    img {
      border-radius: var(--radius-30);
      transition: scale var(--transition-duration);
      background-color: var(--color-gray-100);
      object-fit: contain;

      @include sm {
        width: 160px;
        height: 160px;
      }
    }
  }

  &__title {
    @extend %small-text;
    font-weight: 600;
    color: var(--color-gray-40);
  }

  &__description {
    @extend %secondary-text;
    flex-grow: 1;
  }

  &__price {
    @extend %main-text;
    font-weight: 600;
  }

  &__cart {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);

    opacity: 0;
    width: 90%;

    @include lg {
      position: static;
      opacity: 1;
      transform: none;
      width: 100%;
    }

    @include sm {
      min-height: 40px;
    }
  }
}
