@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';

.headerForPages {
  @extend %container;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include lg {
    justify-content: flex-start;
  }

  @include md {
    margin-bottom: 20px;
  }

  &__centerContainer {
    display: flex;
    align-items: center;

    @include lg {
      width: 100%;
      justify-content: center;
    }

    &__img {
      margin-right: 15px;

      @include md {
        display: none;
      }
    }

    &__title {
      @extend %h4-primary;
      font-weight: 500;
      color: var(--color-gray-10);
    }
  }

  &__additional {
    @extend %main-text;
    font-weight: 400;
    min-width: 60px;

    @include lg {
      font-size: 0.875rem;
      line-height: 1.2;
      min-width: 45px;
    }
  }
}
