@import '../../app/styles/extends.scss';
@import '../../app/styles/mixins.scss';

.basicFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  @include lg {
    li {
      flex-grow: 1;
    }
  }

  $colors: (
    'green': var(--color-system-success),
    'blue': var(--color-system-info),
    'red': var(--color-system-error),
  );

  @each $name, $color in $colors {
    .#{$name} {
      background-color: $color;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 13px 30px;

    border-radius: var(--radius-100);
    background-color: var(--color-gray-100);
    color: var(--color-gray-20);
    @extend %main-text;

    @include lg {
      padding: 13px 20px;
      width: 100%;
    }

    @include sm {
      padding: 11px 15px;

      font-size: 0.75rem;
      line-height: 1.5;
    }
  }

  &__active {
    background-color: var(--color-primary-100);
    color: var(--color-gray-100);
    font-weight: 500;
  }

  &__indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
