@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';

.caresList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 24%;

  margin-right: 30px;

  @include lg {
    min-width: 35%;
  }

  @include md {
    display: none;

    min-width: 100%;
    margin-bottom: 15px;
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
  }

  &__active {
    &Item {
      color: var(--color-gray-100);
      background-color: var(--color-gray-20);
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__Item {
    cursor: pointer;
    border-radius: var(--radius-100);
    border: 1px solid transparent;
    padding: 13px 30px 13px 30px;
    @extend %main-text;
    font-weight: 400;
    margin-bottom: 5px;

    &:hover {
      transition: border-color var(--transition-duration) linear 0s;
      border-color: var(--color-gray-10);
    }

    &:active {
      box-shadow: -4px -4px 4px 0px #0000001A inset, 
        4px 4px 4px 0px #0000001A inset;
    }
  }

  &__description {
    display: none;

    cursor: pointer;
    border: 1px solid var(--color-gray-10);
    border-radius: var(--radius-100);
    padding: 16.5px 30px;

    @include lg {
      display: flex;
      justify-content: space-between;
    }

    &Active {
      border-color: #FD7B19; // Add this color to variables file
      background-color: #FD7B19;
      color: var(--color-gray-100);
    }

    &Arrow {
      padding: 5px 20px 5px 5px;
      background-image: url('../../../public/images/icons/smallArrowDown.svg');
      background-position: right;
      background-repeat: no-repeat;

      &Active {
        background-image: url('../../../public/images/icons/smallArrowUp.svg');
      }
    }

    &Head {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &Menu {
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      z-index: -1;
      padding: 0 30px;

      overflow: hidden;
      border-radius: var(--radius-40);
      border: 1px solid transparent;
      color: transparent;
      height: 0;
      max-height: 0px;
      transition: padding var(--transition-duration) ease-in-out 0s,
        max-height var(--transition-duration) ease-in-out 0s;

      &Active {
        padding: 75px 30px 30px 30px;
        border-color: #FD7B19;
        background-color: var(--color-gray-100);
        height: fit-content;
        max-height: none;
        color: var(--color-gray-10);
        transition: padding var(--transition-duration) ease-in-out 0s,
          max-height var(--transition-duration) ease-in-out 0s;
      }
    }

    &Text {
      @extend %small-text;
      margin-bottom: 30px;
    }

    ul {
      margin-bottom: 30px;
  
      li {
        @extend %small-text;
        font-weight: 500;
      }
    }

    &Additional {
      @extend %small-text;
      font-weight: 600;
      color: var(--color-gray-40);
    }
  }
}