@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';

.caresList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 24%;

  margin-right: 30px;

  @include lg {
    min-width: 35%;
  }

  @include md {
    min-width: 100%;
    margin-bottom: 15px;
  }

  &__active {
    &Item {
      color: var(--color-gray-100);
      background-color: var(--color-gray-20);
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__Item {
    cursor: pointer;
    border-radius: var(--radius-100);
    padding: 13px 30px 13px 30px;
    @extend %main-text;
    font-weight: 400;
    margin-bottom: 5px;
    transition: box-shadow var(--transition-duration) linear 0s;

    &:hover {
      box-shadow: 2px 3px 22px 0px #0000001A;
    }
  }

  &__description {
    position: relative;
    display: none;
    justify-content: space-between;

    z-index: 2;
    cursor: pointer;
    border: 1px solid var(--color-gray-10);
    border-radius: var(--radius-100);
    padding: 16.5px 30px;

    @include lg {
      display: flex;
    }

    &Active {
      border-color: #FD7B19; // Add this color to variables file
      background-color: #FD7B19;
      color: var(--color-gray-100);
    }

    &Arrow {
      padding: 5px 20px 5px 5px;
      background-image: url('../../../public/images/icons/smallArrowDown.svg');
      background-position: right;
      background-repeat: no-repeat;

      &Active {
        background-image: url('../../../public/images/icons/smallArrowUp.svg');
      }
    }

    &Menu {
      // Add some animation from 0 to 100 height or smth else
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      overflow: hidden;
      background-color: var(--color-additional-beige);
      border-radius: var(--radius-30);
      padding: 30px 30px 30px 30px;
      border: 1px solid var(--color-gray-10);
      color: var(--color-gray-10);

      &Active {
        display: block;
      }
    }

    &Text {
      @extend %small-text;
      margin-bottom: 30px;
    }

    ul {
      margin-bottom: 30px;
  
      li {
        @extend %small-text;
        font-weight: 500;
      }
    }

    &Additional {
      @extend %small-text;
      font-weight: 600;
      color: var(--color-gray-40);
    }
  }
}