@import '../../../app/styles/mixins.scss';

.ProfileIcon {
  border: 2px solid var(--color-gray-20);

  @include lg {
    padding: 5.5px 7.5px 0px !important;
  }

  &:hover {
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-100);

    * {
      stroke: white;
    }
  }

  &__Selected {
    background-color: var(--color-gray-20);
    * {
      stroke: white;
    }
  }
}
