@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';

.goal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1046px;
  margin: 0 auto 210px auto;

  &:hover &__img {
    animation: beat 1s infinite alternate;
    transform-origin: center;
  }

  @include lg {
    max-width: 330px;
    flex-direction: column;
    margin: 0 auto 75px auto;
  }

  &__descriptionContainer {
    width: 35%;

    @include lg {
      width: 100%;

      &:not(:last-child) { 
        margin-bottom: 30px;
      }
    }
  }

  &__firstDescription {
    text-align: right;
    padding-right: 45px;
    @extend %h4-primary;

    @include lg {
      padding: 0;

      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__img {
    object-fit: cover;

    @include lg {
      margin-bottom: 30px;
    }
  }

  &__secondDescription {
    padding-left: 45px;
    @extend %h4-primary;

    @include lg {
      padding: 0;

      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
    }

    span {
      font-weight: 500;
    }
  }
}

@keyframes beat{
	to {
    transform: scale(1.1); 
  }
}