@import '../../app/styles/extends.scss';
@import '../../app/styles/mixins.scss';

.header {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-gray-70);
  color: var(--color-gray-10);
  border-radius: var(--radius-100);

  transition: border-radius, var(--transition-duration);
  @extend %main-text;

  @include lg {
    margin-bottom: 60px;
  }
  @include sm {
    margin-bottom: 30px;
  }

  &__logo {
    margin-left: 10px;
  }

  &Open {
    border-radius: var(--radius-30) var(--radius-30) 0 0;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      height: 1px;
      background-color: var(--color-gray-50);
    }
  }

  &__menu {
    display: none;
    margin-left: 10px;
    position: relative;
    width: 30px;

    @include md {
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 3px;

      background-color: var(--color-gray-10);
      width: 30px;
      height: 2px;
      transition: transform var(--transition-duration);
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;

      background-color: var(--color-gray-10);
      width: 30px;
      height: 2px;
      transition: transform var(--transition-duration);
    }

    &Open {
      &::after {
        transform: rotate(45deg) translateY(5px);
      }
      &::before {
        transform: rotate(-45deg) translateY(-5px);
      }
    }
  }
}
