@import '../../app/styles/mixins.scss';

.headerRight {
  display: flex;
  align-items: center;
  gap: 5px;

  &__iconsBase {
    max-width: 52px;
    max-height: 52px;
    padding: 13.5px;
    border-radius: 50%;

    transition: all var(--transition-duration);

    @include lg {
      padding: 5.5px 7.5px;
    }
  }

  &__iconCartAndFavorite {
    &:hover {
      background-color: var(--color-gray-100);
    }

    @include lg {
      display: none;
    }
  }

  &__iconLike {
    * {
      fill: var(--color-secondary-red);
    }
  }

  &__iconCart {
    * {
      fill: var(--color-gray-10);
    }
  }
}
