@import '../../../app/styles/mixins.scss';

.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 4%;
  z-index: 100;

  box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.1);

  @media (min-width: 1920px) {
    right: 88.88vw;
  }

  @include lg {
    right: 3%;
  }

  @include sm {
    bottom: 65px;
    right: 10%;
  }
}
