@import '../../app//styles/extends.scss';
@import '../../app/styles/mixins.scss';


.careSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: none;
  position: relative;
  min-width: 100%;
  max-height: 50px;

  margin: 0 30px 5px 0;
  padding: 13px 30px 13px 30px;
  border-radius: var(--radius-100);
  background-color: var(--color-gray-20);
  color: var(--color-gray-100);
  font-weight: 600;
  @extend %secondary-text;

  background-image: url('../../../public/images/icons/smallArrowUp.svg');
  background-repeat: no-repeat;
  background-position: right 10% center;

  @include sm {
    display: flex;
  }

  // &__option {}

  &__description {
    position: relative;
    display: none;
    justify-content: space-between;
  
    z-index: 2;
    cursor: pointer;
    border: 1px solid var(--color-gray-10);
    border-radius: var(--radius-100);
    padding: 16.5px 30px;
  
    @include lg {
      display: flex;
    }
  
    &Active {
      border-color: #FD7B19; // Add this color to variables file
      background-color: #FD7B19;
      color: var(--color-gray-100);
    }
  
    &Arrow {
      padding: 5px 20px 5px 5px;
      background-image: url('../../../public/images/icons/smallArrowDown.svg');
      background-position: right;
      background-repeat: no-repeat;
  
      &Active {
        background-image: url('../../../public/images/icons/smallArrowUp.svg');
      }
    }
  }
}
