@import '../../../app/styles/extends.scss';
@import '../../../app/styles/mixins.scss';

.category {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  border-radius: var(--radius-40);
  min-height: 250px;
  padding: 20px;

  position: relative;
  z-index: 5;
  filter: grayscale(100%);
  color: var(--color-gray-100);

  transition: filter var(--transition-duration);

  &:hover {
    filter: grayscale(0);
  }

  @include lg {
    filter: grayscale(0);
    justify-content: center;
    padding: 15px;
  }

  @include md {
    justify-content: flex-end;
    padding: 10px;
  }

  &__one {
    background: url('../../../../public/images/catalog/category1.jpg') no-repeat
      center / cover;
  }

  &__two {
    background: url('../../../../public/images/catalog/category2.jpg') no-repeat
      center / cover;
  }

  &__three {
    background: url('../../../../public/images/catalog/category3.jpg') no-repeat
      center / cover;
  }

  &__four {
    background: url('../../../../public/images/catalog/category4.jpg') no-repeat
      center / cover;
  }

  &__five {
    background: url('../../../../public/images/catalog/category5.jpg') no-repeat
      center / cover;
  }

  &__six {
    background: url('../../../../public/images/catalog/category6.jpg') no-repeat
      center / cover;
  }

  &__seven {
    background: url('../../../../public/images/catalog/category7.jpg') no-repeat
      center / cover;
  }
}