@import '../../app/styles/mixins.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 100;

    flex-direction: column;
    justify-content: center;
    gap: 15px;

    background-color: var(--color-gray-70);
    border-radius: 0 0 var(--radius-30) var(--radius-30);
    height: 0;
    overflow: hidden;

    transition: height, var(--transition-duration) linear;
  }

  &__open {
    height: 85vh;

    @include sm {
      height: 70vh;
    }
  }

  &__link {
    padding: 0;
    margin: 15px 30px;
    border-radius: var(--radius-100);
    transition: background-color, padding, margin, var(--transition-duration);

    @include lg {
      margin: 7.5px 15px;
    }

    @include lg {
      margin: 0;
      padding: 15px;
      width: 70vw;
      display: block;
      border: 1px solid var(--color-gray-20);
      text-align: center;
    }
  }

  &__linkActive {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    padding: 15px 30px;
    margin: 0;
  }

  .nav__btns {
    display: none;

    @include lg {
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: center;

      width: 70vw;
      margin-top: 45px;

      a {
        flex-basis: 50%;

        &:hover {
          background-color: var(--color-gray-100);
          border-color: var(--color-gray-10);
        }

        &:last-child {
          margin-left: -3.5%;
        }
      }
    }
  }

  .nav__cart {
    background-color: var(--color-gray-100);
    border: var(--color-gray-100);
    color: var(--color-gray-10);
    font-weight: 500;

    * {
      fill: var(--color-gray-10);
    }
  }
  .nav__like {
    background-color: var(--color-gray-100);
    border: var(--color-gray-100);
    font-weight: 500;

    * {
      fill: var(--color-secondary-red);
    }
  }
}
