@import '../../../app/styles/mixins.scss';

.headerRight {
  display: flex;
  align-items: center;
  gap: 5px;

  &__iconsBase {
    position: relative;
    max-width: 52px;
    max-height: 52px;
    padding: 13.5px;
    border-radius: 50%;

    transition: all var(--transition-duration);

    @include lg {
      padding: 5.5px 7.5px;
    }
  }

  &__count {
    position: absolute;
    top: 7px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    font-size: 0.625rem;

    background-color: var(--color-primary-100);
    border-radius: 50%;
    color: var(--color-gray-100);

    transition: background-color var(--transition-duration);
  }

  &__iconCartAndFavorite {
    &:hover {
      background-color: var(--color-gray-100);

      .headerRight__count {
        background-color: transparent;
        color: var(--color-gray-10);
      }
    }

    @include lg {
      display: none;
    }
  }

  &__iconLike {
    * {
      fill: var(--color-secondary-red);
    }
  }

  &__iconCart {
    * {
      fill: var(--color-gray-10);
    }
  }
}
