@import '../../app/styles/extends.scss';
@import '../../app/styles/mixins.scss';

.buttonWithArrow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-left: 20px;

  @extend %secondary-text;
  font-weight: 600;
  color: var(--color-gray-100);
  border-radius: var(--radius-40);
  background-color: rgba(165, 164, 164, 0.3);

  transition: all var(--transition-duration);
  backdrop-filter: blur(3px);
  overflow: hidden;

  @include sm {
    font-size: 0.75rem;
    line-height: 1.5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 0%;
    z-index: -1;
    background-color: var(--color-gray-100);
    border-radius: var(--radius-40);

    transition: width var(--transition-duration);
  }

  &:hover {
    background-color: transparent;
    color: var(--color-gray-10);

    &::before {
      width: 100%;
    }
  }

  &Green {
    &::before {
      background-color: var(--color-secondary-green);
    }

    &:hover {
      color: var(--color-gray-100);
    }
  }

  &Orange {
    &::before {
      background-color: var(--color-primary-100);
    }

    &:hover {
      color: var(--color-gray-100);
    }
  }

  &__arrow {
    padding: 25px;
    background: url('../../../public/images/icons/arrow_small_black.svg')
        no-repeat center,
      var(--color-gray-100);
    border-radius: 50%;

    &Green {
      background: url('../../../public/images/icons/arrow_small_white.svg')
          no-repeat center,
        var(--color-secondary-green);
    }

    &Orange {
      background: url('../../../public/images/icons/arrow_small_white.svg')
          no-repeat center,
        var(--color-primary-100);
    }

    @include sm {
      padding: 20px;
    }
  }
}
